{% extends 'base.html' %}
{% load static %}
{% load navmanu %}

{% block content %}

<p>Your Membership Plan: {{membership_plans.title}}</p>
<p id='idjs'></p>

{% for message in messages %}

<div class="container p-0">
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}

<div class="row g-5 py-5" style="margin:0 auto">
    <div class="col-xl-6 col-lg-6 wow slideInUp" data-wow-delay="0.3s" style="margin:0 auto">
        <form id="myForm" action="" method="POST">
            {% csrf_token %}
            <input type="hidden" id="serviceId" name="serviceid" value="{{membership_plans.id}}">
            <input type="hidden" id="serviceName" name="servicename" value="{{membership_plans.title}}">
            <input type="hidden" id="customerId" name="customerid" value="">
            <input type="hidden" id="customerPass" name="customerpass" value="">
            <div class="row g-3">
                <div class="col-12">
                    <input type="text" class="form-control border-0 bg-light px-4" placeholder="Your Name" name="cname" style="height: 55px;" required>
                </div>
                <div class="col-12">
                    <input type="email" class="form-control border-0 bg-light px-4" name="cemail" placeholder="Your Email" style="height: 55px;" required>
                </div>
                <div class="col-12">
                    <input type="number" name="cnumber" class="form-control border-0 bg-light px-4" placeholder="Phone Number" style="height: 55px;" required>
                </div>
                <div class="col-12">
                    <textarea class="form-control border-0 bg-light px-4 py-3" name="message" rows="5" placeholder="Message"></textarea>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var id = {{membership_plans.id}} + Math.random().toString(16).slice(2) + "{{membership_plans.title}}";
    var password =  Math.random().toString(16).slice(4);
    document.getElementById("customerId").value = id;
    document.getElementById("customerPass").value = password;
    
</script>


{% endblock content %}